---
permalink: "/search.json"
---
[
  {%- for answer in collections.answer | reverse %}
    {%- set url %}{{ post.url | url }}{% endset -%}
    {
      "url": "{{ url }}",
      "title": "{{ answer.data.title }}",
      "excerpt": "{{ answer.data.excerpt }}",
      "keywords": "{{ answer.data.keywords }}",
      "tags": "{{ answer.data.tags }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
  {%- endfor %}
]
